<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Product</title>
</head>
<body>
<table border="2" align="center">
<tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Product Image</th>
        <th>Subcategory Name</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Edit</th>
</tr>
    {% for i in product_list %}
 <tr>
     <td>{{ i[0]['product_name'] }}</td>
     <td>{{ i[0]['product_description']}}</td>
     <td>{{ i[0]['product_price'] }}</td>
     <td>{{ i[0]['product_quantity'] }}</td>
     <td><a href="{{ i[0]['product_imagepath'] }}{{i[0]['product_imagename']  }}">View Image</a></td>
     <td>{{ i[1]['category_name'] }}</td>
     <td>{{ i[2]['subcategory_name'] }}</td>
     <td><a href="/admin/delete_product?pid={{ i[0]['product_id'] }}&path={{ i[0]['product_imagepath'] }}{{ i[0]['product_imagename'] }}"> Delete </a></td>


 </tr>
    {% endfor %}
</table>

</body>
</html>